@import '../../marketplace.css';

.root {
  display: flex;
  flex-direction: column;
}

.nowrap {
  white-space: nowrap;
}

.lineItem {
  @apply --marketplaceH4FontStyles;
  margin: 0;

  @media (--viewportMedium) {
    margin: 0 0 8px 0;
    padding-top: 6px;
    padding-bottom: 2px;
  }

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subTotalLineItem {
  @apply --marketplaceH4FontStyles;
  font-weight: var(--fontWeightBold);

  margin: 4px 0 1px 0;

  @media (--viewportMedium) {
    margin: 5px 0 9px 0;
  }

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lineItemTotal {
  @apply --marketplaceH4FontStyles;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 3px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.itemLabel {
  @apply --marketplaceSmallFontStyles;
  flex: 1;
}

.itemValue {
  @apply --marketplaceSmallFontStyles;
  margin: 0 0 0 10px;

  @media (--viewportMedium) {
    margin: 0 0 0 10px;
  }
}

.totalDivider {
  /* dimensions */
  width: 100%;
  height: 1px;
  margin: 13px 0 4px 0;

  border: none;
  background-color: var(--matterColorNegative);

  @media (--viewportMedium) {
    margin: 0px 0 16px 0;
  }
}

.totalLabel {
  font-weight: var(--fontWeightNormal);
}

.totalPrice {
  @apply --marketplaceButtonFontStyles;
  margin: -2px 0 0 10px;
  padding-top: 0px;
}

.feeInfo {
  @apply --marketplaceTinyFontStyles;
  color: var(--matterColorAnti);
  padding-top: 4px;
  padding-bottom: 16px;
  flex-shrink: 0;

  @media (--viewportMedium) {
    padding-top: 0px;
    padding-bottom: 24px;
  }
}

.bookingPeriodSectionRigth {
  text-align: right;
}
.bookingPeriod {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dayLabel {
  @apply --marketplaceTinyFontStyles;
  margin: 0;
  font-size: 14px;
  color: var(--matterColorAnti);
  line-height: 24px;
  padding-top: 2px;
  padding-bottom: 6px;

  @media (--viewportMedium) {
    padding-top: 1px;
  }
}

.dayInfo {
  @apply --marketplaceButtonFontStyles;
}
